In [1]:
pip install mlxtend

Collecting mlxtendNote: you may need to restart the kernel to use updated packages.
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: numpy>=1.16.2 in c:\users\sss\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: scipy>=1.2.1 in c:\users\sss\anaconda3\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\sss\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\sss\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\sss\anaconda3\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\sss\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: setuptools in c:\users\sss\anaconda3\lib\site-packages (from mlxtend) (61.2.0)

Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sss\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sss\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sss\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sss\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sss\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\sss\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sss\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sss\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\sss\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sss\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0

In [5]:
import pandas as pd
data=pd.read_csv(r"C:\Users\SSS\Downloads\iris.csv",header=None,names=["sl","sw","pl","pw","species"])
data

      sl   sw   pl   pw         species
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
from mlxtend.feature_selection import SequentialFeatureSelector

In [6]:
fv=data.drop("species",axis=1)
cl=data["species"]

In [7]:
from sklearn.neighbors import KNeighborsClassifier

In [8]:
knn=KNeighborsClassifier()

In [9]:
sq=SequentialFeatureSelector(knn,k_features=2,forward=True)

In [11]:
sq1=sq.fit(fv,cl)

In [14]:
sq1.k_feature_names_

('pl', 'pw')

In [15]:
data[["pl","pw"]]

      pl   pw
0    1.4  0.2
1    1.4  0.2
2    1.3  0.2
3    1.5  0.2
4    1.4  0.2
..   ...  ...
145  5.2  2.3
146  5.0  1.9
147  5.2  2.0
148  5.4  2.3
149  5.1  1.8

[150 rows x 2 columns]

In [20]:
sq=SequentialFeatureSelector(knn,k_features=2,verbose=2,forward=False)

In [21]:
sq1=sq.fit(fv,cl)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.0s finished

[2022-12-14 13:57:20] Features: 3/2 -- score: 0.9666666666666668[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s finished

[2022-12-14 13:57:21] Features: 2/2 -- score: 0.9666666666666668

In [19]:
sq1.k_feature_names_

('pl', 'pw')

In [27]:
data1=pd.read_csv(r"C:\Users\SSS\Downloads\glass.csv")
data1

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [32]:
fv=data1.drop("Type",axis=1)
cl=data1["Type"]

In [33]:
knn=KNeighborsClassifier()

In [34]:
sf=SequentialFeatureSelector(knn,k_features=2,forward=True)

In [35]:
sq=sf.fit(fv,cl)

In [36]:
sq.k_feature_names_

('Al', 'Ba')

In [37]:
sf=SequentialFeatureSelector(knn,k_features=2,forward=False)

In [38]:
sq=sf.fit(fv,cl)

In [39]:
sq.k_feature_names_

('Al', 'Ca')