In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r"C:\Users\SSS\Downloads\raw-material-properties.csv")
data.head(2)

   Sample  size1  size2  size3  density1  density2  density3
0  X12558  0.696   2.69   6.38      41.8     17.18      3.90
1  X14728  0.636   2.30   5.14      38.1     12.73      3.89

In [9]:
fv=data[data.columns[1:]]
cl=data[data.columns[-1]]

In [12]:
fv=data.drop("Sample",axis=1)
cl=data["Sample"]

In [13]:
fv.head(2)

   size1  size2  size3  density1  density2  density3
0  0.696   2.69   6.38      41.8     17.18      3.90
1  0.636   2.30   5.14      38.1     12.73      3.89

In [17]:
fv.isnull().mean()*100

size1        2.777778
size2        2.777778
size3        2.777778
density1    27.777778
density2    27.777778
density3    27.777778
dtype: float64

In [14]:
cl.head(2)

0    X12558
1    X14728
Name: Sample, dtype: object

In [5]:
from sklearn.impute import KNNImputer

In [6]:
knn=KNNImputer(n_neighbors=5)

In [15]:
td=knn.fit_transform(fv)

In [16]:
pd.DataFrame(td).isnull().mean()*100

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
dtype: float64