# Data Set Information
The data is related to direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be subscribed ('yes') or not ('no') subscribed.
There are two datasets: train.csv with all examples (32950) and 21 inputs including the target feature, ordered by date (from May 2008 to November 2010), very close to the data analyzed in [Moro et al., 2014]
test.csv which is the test data that consists of 8238 observations and 20 features without the target feature
Goal:- The classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).
The dataset contains train and test data. Features of train data are listed below. And the test data have already been preprocessed
For More:-https://www.kaggle.com/datasets/rashmiranu/banking-dataset-classification
 
Task:-
Create a knn model to classify whether the client subscribed a term deposit or not?(Find best k value)
    **** Do all the analysis,preprocessing ,modeling stage correctly

And also try to do research and how to get probabilistic values of your predicted class labels

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [6]:
bank_data=pd.read_csv(r"C:\Users\SSS\Downloads\bank.csv",sep=";")

In [7]:
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [8]:
bank_data.shape

(4521, 17)

In [9]:
bank_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [10]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [12]:
bank_data["y"].value_counts()

no     4000
yes     521
Name: y, dtype: int64

In [14]:
!pip3 install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.9.1-py3-none-any.whl (199 kB)
Requirement already satisfied: joblib>=1.0.0 in c:\users\sss\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sss\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sss\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Collecting scikit-learn>=1.1.0
  Downloading scikit_learn-1.2.0-cp39-cp39-win_amd64.whl (8.3 MB)
Requirement already satisfied: scipy>=1.3.2 in c:\users\sss\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Collecting joblib>=1.0.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
Installing collected packages: joblib, scikit-learn, imbalanced-learn, imblearn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\SSS\\anaconda3\\Lib\\site-packages\\~klearn\\decomposition\\_cdnmf_fast.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [16]:
from imblearn.over_sampling import RandomOverSampler,SMOTE,BorderlineSMOTE,ADASYN

ModuleNotFoundError: No module named 'imblearn'

In [ ]:
conda install -c conda-forge imbalanced-learn